<div>
  <mat-card class="example-card" fxFlex="30%" fxFlex.lt-md="100%" fxFlexOffset="35%" fxFlexOffset.lt-md="0">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Giriş</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well swith mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
