<div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
        <div fxFlex>
            <mat-card class="mat-elevation-z4">
                <app-timeline-report *ngIf="timelineReportData.length" [data]="timelineReportData"></app-timeline-report>
                <p *ngIf="!timelineReportData.length" align="center">Gösterilecek Veri Bulunamadı</p>
            </mat-card>
        </div>

        <div fxFlex>
            <mat-card class="mat-elevation-z4">
                <app-pie-chart-report *ngIf="financeReportData.length" [data]="financeReportData"></app-pie-chart-report>
                <p *ngIf="!financeReportData.length" align="center">Gösterilecek Veri Bulunamadı</p>
            </mat-card>
        </div>
    </div>
</div>
