<div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px" fxFlex>
        <div fxLayout="column" fxLayoutGap="8px" fxFlex>
            <mat-label>Bildirimler</mat-label>
            <mat-card class="mat-elevation-z4 overflow-card-half">
                <app-notification-report *ngIf="notificationReportData.length" [data]="notificationReportData"></app-notification-report>
                <p *ngIf="!notificationReportData.length" align="center">Gösterilecek Veri Bulunamadı</p>
            </mat-card>
        </div>

        <div *ngIf="user.type === 'player'" fxLayout="column" fxLayoutGap="8px" fxFlex>
            <mat-label>En İyiler</mat-label>
            <mat-card class="mat-elevation-z4 overflow-card-half">
                <app-ranking-report *ngIf="rankingReportData.length" [data]="rankingReportData"></app-ranking-report>
                <p *ngIf="!rankingReportData.length" align="center">Gösterilecek Veri Bulunamadı</p>
            </mat-card>
        </div>

        <div *ngIf="user.type === 'holder'" fxLayout="column" fxLayoutGap="8px" fxFlex>
            <mat-label>En Çok Oynananlar</mat-label>
            <mat-card class="mat-elevation-z4 overflow-card-half">
                <app-most-played-report *ngIf="mostPlayedReportData.length" [data]="mostPlayedReportData"></app-most-played-report>
                <p *ngIf="!mostPlayedReportData.length" align="center">Gösterilecek Veri Bulunamadı</p>
            </mat-card>
        </div>

        <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="16px" fxFlex="40" fxFlex.lt-md>
            <div fxLayout="column" fxLayoutGap="8px">
                <mat-label>Son Turnuva Sonuçların</mat-label>
                <mat-card class="mat-elevation-z4">
                    <app-timeline-report *ngIf="timelineReportData.length" [data]="timelineReportData"></app-timeline-report>
                    <p *ngIf="!timelineReportData.length" align="center">Gösterilecek Veri Bulunamadı</p>
                </mat-card>
            </div>

            <div fxLayout="column" fxLayoutGap="8px">
                <mat-label>Maliye İşleri</mat-label>
                <mat-card class="mat-elevation-z4">
                    <app-pie-chart-report *ngIf="financeReportData.length" [data]="financeReportData"></app-pie-chart-report>
                    <p *ngIf="!financeReportData.length" align="center">Gösterilecek Veri Bulunamadı</p>
                </mat-card>
            </div>
        </div>
    </div>
</div>
