.pages-tab {
    position: fixed;
    bottom: 16px;
    .tab { cursor: pointer; outline: none; transition: ease .2s; }
    .active-tab {
        background-color: #f9f9f9;
        .mat-icon { color: #424242; }
    }
}


.mat-icon { width: 32px; height: 32px; }
