<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
    <router-outlet></router-outlet>
    <div class="pages-tab" fxLayout="row">
        <mat-card class="tab" routerLink="home" routerLinkActive="active-tab">
            <mat-icon svgIcon="home"></mat-icon>
        </mat-card>
        <mat-card class="tab">
          <mat-icon svgIcon="grid"></mat-icon>
        </mat-card>
        <mat-card class="tab" routerLink="search" routerLinkActive="active-tab">
          <mat-icon svgIcon="search"></mat-icon>
        </mat-card>
        <mat-card class="tab">
          <mat-icon svgIcon="plus-square"></mat-icon>
        </mat-card>
        <mat-card class="tab">
          <mat-icon svgIcon="credit-card"></mat-icon>
        </mat-card>
        <mat-card class="tab">
          <mat-icon svgIcon="user"></mat-icon>
        </mat-card>
    </div>
</div>

