.score-info {
    p {
        color: #f0f0f0;
        font-size: 14px;
        margin: 4px 0;
    }
}

input.mat-input-element {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

