<div class="container tournament-info-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px">
    <div fxFlex>
        <h3>Genel Bilgiler</h3>
        <mat-card class="mat-elevation-z4">
            <img class="image" *ngIf="tournament.game" mat-card-image src="{{tournament.game.gameImage}}"
                 alt="{{tournament.game.gameName}}">
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                        <mat-icon svgIcon="info"></mat-icon> <p>Turnuva Durumu</p>
                    </div>
                    <app-attend-button [tournament]="tournament" [hideParticipantInfo]="true"></app-attend-button>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                        <mat-icon svgIcon="tag"></mat-icon> <p>Oyun</p>
                    </div>
                    <p>{{tournament.game.gameName}}</p>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                        <mat-icon svgIcon="flag"></mat-icon> <p>Turnuva Tipi</p>
                    </div>
                    <p>{{tournamentType[tournament.tournamentType]}}</p>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                        <mat-icon svgIcon="clock"></mat-icon> <p>Başlangıç Tarihi</p>
                    </div>
                    <p>{{tournament.time}} {{tournament.date}}</p>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                        <mat-icon svgIcon="users"></mat-icon> <p>Katılımcı Sayısı</p>
                    </div>
                    <p>{{tournament.currentParticipants}} / {{tournament.participantCount}}</p>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                        <mat-icon svgIcon="dollar-sign"></mat-icon> <p>Katılım Ücreti</p>
                    </div>
                    <p>{{tournament.price.amount}} ₺</p>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                        <mat-icon svgIcon="user"></mat-icon> <p>Turnuva Düzenleyen</p>
                    </div>
                    <p>{{tournament.holder.username}}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex>
        <h3>Katılımcılar</h3>
        <mat-card class="mat-elevation-z4">
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let participant of tournament.participants">
                        <img mat-list-avatar [src]="participant.picture">
                        <p mat-line> {{participant.username}} </p>
                        <h4 mat-line>{{participant.name}} {{participant.surname}}</h4>
<!--                        <h4 mat-line *ngIf="participant.referenceCode">{{participant.referenceCode}}</h4>-->
                        <h4 *ngIf="participant.tournamentRanking">#{{participant.tournamentRanking}}</h4>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex>
        <h3>Fikstür</h3>
        <mat-card class="mat-elevation-z4 fixture-card">
            <mat-card-content *ngIf="tournament.fixture">
                <div *ngFor="let draw of tournament.fixture.draws">
                  <div class="fixture-title">{{draw.drawTitle}}</div>
                  <div *ngFor="let match of draw.matches" fxLayout="row" fxLayoutAlign="space-between center">
                      <p fxFlex>{{match.home && match.home.username ? match.home.username : '---'}}</p>
                      <div class="match-result">
                          <p>{{match.home && match.home.point !== null && match.away && match.away.point !== null ?
                              match.home.point + ' : ' + match.away.point : 'vs'}}</p>
                      </div>
                      <p fxFlex align="right">{{match.away && match.away.username ? match.away.username : '---'}}</p>
                  </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
