.tournament-info-container {
    h3 {
        color: #f9f9f9;
        font-size: 18px;
        font-weight: 100;
        margin: 8px;
    }

    h4 {
        color: #909090;
    }

    .mat-list-avatar {
        background-color: #d3d3d3;
    }
}

.participants-card {
    h4 { margin: 0; }
    h5 { margin: 0; }
}

.fixture-card {
    padding: 0;
    .fixture-title {
        background-color: #707070;
        padding: 8px 16px;
        color: #fff;

        p {
            margin: 4px 0;
            font-weight: 100;
        }
    }
    .fixture-match {
        padding: 4px 16px;
    }
    .match-result {
        background-color: #f0f0f0;
        color: #303030;
        padding: 4px 8px;
        border-radius: 4px;
        line-height: inherit;

        &.disabled {
            background-color: #707070;
            cursor: auto;
        }

        p {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }
    }
}
