<mat-card class="mat-elevation-z4 tournament-card">
    <mat-card-header *ngIf="data.holder">
        <img mat-card-avatar src="{{data.holder.picture}}" alt="{{data.holder.username}}">
        <div fxFlex>
            <mat-card-title>{{data.holder.username}}</mat-card-title>
            <mat-card-subtitle>{{data.holder.city}}/{{data.holder.district}}</mat-card-subtitle>
        </div>
        <app-attend-button [tournament]="data"></app-attend-button>
    </mat-card-header>
    <img class="image" *ngIf="data.game" mat-card-image src="{{data.game.gameImage}}" alt="{{data.game.gameName}}"
         [routerLink]="data.tournamentId ? ['/app/tournament', data.tournamentId] : null">
    <mat-card-content class="content" [routerLink]="data.tournamentId ? ['/app/tournament', data.tournamentId] : null">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100%">
            <div *ngIf="data.game" class="info" fxLayout="row" fxLayoutAlign="start center" fxFlex="100%" fxLayoutGap="8px">
                <mat-icon svgIcon="tag"></mat-icon><p>{{data.game.gameName}}</p>
            </div>
            <div fxLayout="row" fxFlex="100%" fxLayoutAlign="space-between center" >
                <div class="info" fxLayout="column" fxLayoutAlign="center center">
                    <mat-hint>Tarih</mat-hint> <p>{{data.date}}</p>
                </div>
                <div class="info" fxLayout="column" fxLayoutAlign="center center">
                    <mat-hint>Saat</mat-hint> <p>{{data.time}}</p>
                </div>
                <div class="info" fxLayout="column" fxLayoutAlign="center center">
                    <mat-hint>Ücret</mat-hint> <p>{{data.participationFee}} ₺</p>
                </div>
                <div class="info" fxLayout="column" fxLayoutAlign="center center">
                    <mat-hint>Katılımcı</mat-hint> <p>{{data.participantCount}}</p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
