.tournament-card { outline: none;
    .image { outline: none; cursor: pointer; }
    .content { outline: none; cursor: pointer; }
}

.mat-card-header .mat-card-title { font-size: 16px; }

.info {
    margin: 4px;
    p { font-size: 13px; margin: 2px 0; }
}
