<div *ngIf="user" class="attend-button-container" fxLayout="column" fxLayoutAlign="start center">
    <button *ngIf="!loading"
      [ngClass]="{
            'active': tournament.status === tournamentStatus.ACTIVE,
            'attended': tournament.attended,
            'cancelled' : !tournament.attended && tournament.status === tournamentStatus.CANCEL,
            'close': tournament.status === tournamentStatus.CLOSE,
            'open': !tournament.attended && tournament.status === tournamentStatus.OPEN,
            'restricted': !tournament.holder || user.id === tournament.holder.id
            }"
            mat-button mat-raised-button (click)="attendLeaveDialog(tournament.attended)"

      [disabled]="
            !tournament.holder || user.id === tournament.holder.id ||
            tournament.status === tournamentStatus.ACTIVE ||
            tournament.status === tournamentStatus.CANCEL ||
            tournament.status === tournamentStatus.CLOSE
      ">
      {{
            tournament.holder && user.id !== tournament.holder.id ?
            (tournament.status === tournamentStatus.ACTIVE ? 'Oynanan Turnuva' : '' ||
            tournament.attended ? 'Katıldın' : '' ||
            !tournament.attended && tournament.status === tournamentStatus.CANCEL  ? 'İptal Edildi' : '' ||
            tournament.status === tournamentStatus.CLOSE ? 'Bitmiş Tunuva' : '' ||
            !tournament.attended && tournament.status === tournamentStatus.OPEN ? 'Katıl' : '') : 'Turnuva Sahibi'
      }}
    </button>
    <p *ngIf="!hideParticipantInfo && tournament.status !== tournamentStatus.CANCEL &&
        tournament.status !== tournamentStatus.CLOSE && !loading">
        {{tournament.participantCount - tournament.currentParticipants || tournament.participantCount}} yer kaldı
    </p>
    <mat-spinner *ngIf="loading" class="small"></mat-spinner>
</div>
