<div *ngIf="progress" fxLayout="column" fxLayoutAlign="center center">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-toolbar class="mat-elevation-z4" fxLayout="row" fxLayoutAlign="space-between center">
    <button class="logo" mat-button routerLink="/">turnuvaz</button>
    <div fxLayout="row" *ngIf="user">
        <button *ngIf="user.state" mat-button color="accent" matTooltip="Bakiye">
            {{user.budget}} ₺ | {{user.ticket}} bilet
        </button>
        <button *ngIf="user.state" mat-button fxHide.lt-sm matTooltip="Kullanıcı">
            <mat-icon svgIcon="user"></mat-icon> {{user.username}}
        </button>
        <button mat-icon-button matTooltip="Çıkış" (click)="logout()">
            <mat-icon svgIcon="log-out"></mat-icon>
        </button>
    </div>
</mat-toolbar>
<div class="app-container" [class.blur-filter]="progress">
    <router-outlet></router-outlet>
</div>
