<div>
  <div class="header" fxLayout="row">
      <div class="header-text" fxFlex>
          <h1>Gerçek Turnuva, <br/>
            Gerçek Rakip, <br/>
            Gerçek Ödül</h1>
          <button mat-button mat-flat-button mat-raised-button
                  [routerLink]="'/login'" color="primary">Hemen Katıl</button>
      </div>
      <div fxHide.lt-md="" class="header-image" fxFlex>
          <img alt="joystick" src="./assets/landing/joystick-ps4.png">
      </div>
  </div>
  <div class="body" fxLayout="column" fxLayoutGap="16px">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="32px" fxFlexAlign="center center" fxFlex>
          <mat-card class="info-card mat-elevation-z4" fxFlex>
              <div class="icon" fxLayout="column" fxLayoutAlign="center center"><mat-icon svgIcon="shield"></mat-icon></div>
              <h3>Güvenli</h3>
              <div class="divider"></div>
              <p>İleri düzey yapay zeka sayesinde sürekli takip edilen turnuvalar ve 3D Secure ödeme işlemleri ile dolandırıcılıklara karşı maksimum koruma</p>
          </mat-card>
          <mat-card class="info-card mat-elevation-z4" fxFlex>
              <div class="icon" fxLayout="column" fxLayoutAlign="center center"><mat-icon svgIcon="pie-chart"></mat-icon></div>
              <h4>İstatiksel</h4>
              <div class="divider"></div>
              <p>Çeşitli grafiksel görsellerle rakiplerini ve turnuvalarını analiz et, kazanma şansını daha da artır</p>
          </mat-card>
          <mat-card class="info-card mat-elevation-z4" fxFlex>
              <div class="icon" fxLayout="column" fxLayoutAlign="center center"><mat-icon svgIcon="smile"></mat-icon></div>
              <h4>Eğlenceli</h4>
              <div class="divider"></div>
              <p>En sevdiğin ve kendine güvendiğin oyunların turnuvalarında hem kendini göster hem de ödülleri kazan</p>
          </mat-card>
      </div>
      <div class="how-works" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
          <h2>Nasıl Çalışır?</h2>
          <div class="step" fxLayout="row" fxLayout.lt-md="column">
              <div class="image">
                  <img alt="Turnuva Bul" src="./assets/landing/tournament-find.svg">
              </div>
              <div class="description" align="right">
                  <h3>Turnuva Bul</h3>
                  <p>Eğer bir oyun salonun varsa ve turnuva düzenlemek istiyorsan tek adımda bir PlayStation® turnuvası oluşturabilirsin, <br>
                    Eğer bir PlayStation® turnuvasına katılmak istiyorsan sana en yakın ve en uygun turnuvayı kolayca bulabilirsin.</p>
              </div>
          </div>
          <div class="step" fxLayout="row" fxLayout.lt-md="column">
              <div class="description" align="left">
                  <h3>Turnuvaya Katıl</h3>
                  <p>Turnuvaya katılım için belirlenen katılım hesabına eklediğin para ile turnuva başlayana kadar veya katılımcı
                    sayısı dolana kadar turnuvaya kayıt olabilirsin.</p>
              </div>
              <div class="image">
                  <img alt="Turnuvaya Katıl" src="./assets/landing/tournament-attend.svg">
              </div>
          </div>
          <div class="step" fxLayout="row" fxLayout.lt-md="column">
              <div class="image">
                  <img alt="Rakiplerini Analiz Et" src="./assets/landing/tournament-analyze.svg">
              </div>
              <div class="description" align="right">
                  <h3>Rakiplerini Tanı</h3>
                  <p>Gelişmiş istatiksel verilerle ve kolay anlaşılır grafiklerle turnuva başlamadan önce rakiplerini ve
                    turnuvalarını analiz ederek daha iyi bir hazılık yapabilirsin.</p>
              </div>
          </div>
          <div class="step" fxLayout="row" fxLayout.lt-md="column">
              <div class="description" align="left">
                  <h3>Rakiplerini Yen</h3>
                  <p>Kayıt olduğun en az 16 en fazla 32 kişilik PlayStation® turnuvasında karşına çıkan ve senin gücüne göre
                    seçilmiş rakiplerine karşı oyunları kazan.</p>
              </div>
              <div class="image">
                  <img alt="Rakiplerini Yen" src="./assets/landing/tournament-play.svg">
              </div>
          </div>
          <div class="step" fxLayout="row" fxLayout.lt-md="column">
              <div class="image">
                  <img alt="Ödülünü Al" src="./assets/landing/tournament-earn.svg">
              </div>
              <div class="description" align="right">
                  <h3>Ödülünü Al</h3>
                  <p>Turnuva sonunda sıralamada ilk 3'e gir ve ödülün hesabına yatsın, ister hesabında biriktir istersen
                    banka hesabına çek.</p>
              </div>
          </div>
      </div>
  </div>
  <div class="footer"></div>
</div>
