<div class="container">
    <div fxFlex="40%" fxFlex.lt-md="100%" fxFlexOffset="30%" fxFlexOffset.lt-md="0">
        <mat-card class="mat-elevation-z4">
            <mat-card-header fxLayout="column" fxLayoutAlign="center center">
                <img *ngIf="user" mat-card-image src="{{user.picture}}" alt="{{user.username}}">
                <p *ngIf="user">{{user.username}}</p>
            </mat-card-header>
            <mat-card-content>
                <form *ngIf="activateForm" ngNoForm fxLayout="column" [formGroup]="activateForm">
                    <div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="4%" fxLayoutGap.lt-md="0">
                        <mat-form-field fxFlex="48%" fxFlex.lt-md appearance="outline">
                            <mat-label>İsim</mat-label>
                            <input matInput placeholder="İsim" formControlName="name">
                            <mat-error *ngIf="activateForm.controls.name.hasError('required')">
                                İsim alanı boş bırakılamaz.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="48%" fxFlex.lt-md appearance="outline">
                            <mat-label>Soyisim</mat-label>
                            <input matInput placeholder="Soyisim" formControlName="surname">
                            <mat-error *ngIf="activateForm.controls.surname.hasError('required')">
                                Soyisim alanı boş bırakılamaz.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>TC Numarası</mat-label>
                        <input matInput placeholder="TC Numarası" formControlName="identityNumber">
                        <mat-error *ngIf="activateForm.controls.identityNumber.hasError('required') ||
                            activateForm.controls.identityNumber.hasError('pattern')">
                            TC Numarası alanı boş bırakılamaz ve 11 haneli olmalıdır.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Telefon</mat-label>
                        <span matPrefix>+90 &nbsp;</span>
                        <input type="tel" matInput placeholder="Telefon" maxlength="10" formControlName="phone">
                        <mat-hint>Numarayı başında 0 olmadan (5*********) giriniz</mat-hint>
                        <mat-error *ngIf="activateForm.controls.phone.hasError('required')">
                            Telefon alanı boş bırakılamaz.
                        </mat-error>
                    </mat-form-field>

                    <div class="mTop-8" fxLayout="row" fxFlex fxLayoutGap="8px">
                        <mat-form-field fxFlex="32%" appearance="outline">
                            <mat-label>Gün (Doğum)</mat-label>
                            <mat-select [(value)]="selectedDay" (valueChange)="setBirthday()">
                                <mat-option *ngFor="let day of days" [value]="day">
                                    {{day}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="32%" appearance="outline">
                            <mat-label>Ay (Doğum)</mat-label>
                            <mat-select [(value)]="selectedMonth" (valueChange)="setBirthday()">
                                <mat-option *ngFor="let month of months" [value]="month">
                                    {{MONTHS_MAP[month - 1]}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="33%" appearance="outline">
                            <mat-label>Yıl (Doğum)</mat-label>
                            <mat-select [(value)]="selectedYear" (valueChange)="setBirthday()">
                                <mat-option *ngFor="let year of years" [value]="year">
                                    {{year}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="isHolder()" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="4%"
                         fxLayoutGap.lt-md="0">
                        <mat-form-field fxFlex="48%" fxFlex.lt-md appearance="outline">
                            <mat-label>Şirket Tipi</mat-label>
                            <mat-select formControlName="merchantType" (selectionChange)="changeMerchantType()">
                                <mat-option *ngFor="let type of MERCHANT_TYPES" [value]="type.value">
                                    {{type.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="48%" fxFlex.lt-md appearance="outline">
                            <mat-label>Vergi Dairesi</mat-label>
                            <input type="text" placeholder="Vergi Dairesi" aria-label="Tax Office" matInput
                                   formControlName="taxOffice" [matAutocomplete]="auto">
                            <mat-error *ngIf="activateForm.controls.taxOffice.hasError('required')">
                                Vergi dairesi alanı boş bırakılamaz.
                            </mat-error>
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let to of filteredTaxOffices | async" [value]="to.taxOffice">
                                    {{to.taxOffice}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div *ngIf="isHolder()" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="4%"
                        fxLayoutGap.lt-md="0">
                        <mat-form-field fxFlex="48%" fxFlex.lt-md appearance="outline">
                            <mat-label>Vergi Numarası</mat-label>
                            <input matInput placeholder="Vergi Numarası" formControlName="taxNumber">
                            <mat-error *ngIf="activateForm.controls.taxNumber.hasError('required') ||
                                activateForm.controls.taxNumber.hasError('pattern')">
                                Vergi numarası alanı boş bırakılamaz ve uygun formatta olmalıdır.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="48%" fxFlex.lt-md appearance="outline">
                            <mat-label>Şirketin Resmi Adı</mat-label>
                            <input matInput placeholder="Şirketin Resmi Adı" formControlName="companyTitle">
                            <mat-error *ngIf="activateForm.controls.companyTitle.hasError('required')">
                                Şirket ismi alanı boş bırakılamaz.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>{{isHolder() ? 'İş Yeri Adresi' : 'Adres'}}</mat-label>
                        <textarea matInput [placeholder]="isHolder() ? 'İş Yeri Adresi' : 'Adres'" formControlName="address"></textarea>
                        <mat-error *ngIf="activateForm.controls.address.hasError('required')">
                            {{isHolder() ? 'İş Yeri Adresi' : 'Adres'}} alanı boş bırakılamaz.
                        </mat-error>
                    </mat-form-field>

                    <button mat-flat-button color="primary" type="sumbit" mat-button (click)="activate()"
                            [disabled]="!activateForm.valid">Devam Et</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
