/* You can add global styles to this file, and also import other style files */
@import '~ng-pick-datetime/assets/style/picker.min.css';
@font-face { font-family: GoogleSans; src: url(./GoogleSans-Regular.ttf);}

$mainColor: #7B1FA2;

html, body { height: calc(100% - 16px); background: #303030; color: #ffffff; }
body { height: 100%; margin: 0; font-family: GoogleSans, serif !important; }

app-application { height: 100%; }

.app-container { padding-top: 64px; height: calc(100% - 64px); }
.blur-filter { filter: blur(4px); }
.container { margin: 16px; height: calc(100% - 32px); }
.google-map-frame { border:0; border-radius: 4px; width: 100%; height: auto; min-height: 250px; margin-top: 16px; }
.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix { top: 0 !important; }
.mat-progress-bar-buffer { background-color: #f9f9f9; }
.mat-progress-bar-fill::after { background-color: $mainColor; }
.mat-progress-spinner.small { height: 32px !important; width: 32px !important;
  svg { height: 32px !important; width: 32px !important; }
}
.max-height { height: 100%; }
.mat-toolbar { position: fixed; background: #424242; z-index: 999;
    .logo { font-size: 24px; font-weight: 600; }
}
.mTop-16 { margin-top: 16px !important; }
.overflow { overflow: auto; }
.overflow-card { max-height: calc(100% - 64px); overflow-y: auto; }
.overflow-card-half { height: auto; overflow-y: auto; }
.link { cursor: pointer; outline: none; }
.first-place-award { color: gold; fill: gold; }
.second-place-award { color: silver; fill: silver; }
.third-place-award { color: #cd7f32; fill: #cd7f32; }
.mat-card-header-text { margin: 0 8px !important; }
.participants-card .mat-list-item-content { padding: 0 !important; }

::-webkit-scrollbar-thumb { border-radius: 2px; background-color: #f0f0f0; }
::-webkit-scrollbar { width: 6px; height: 6px; }

@media (max-width: 960px) {
    .container {  margin: 16px 0; }
    .overflow-card { max-height: 100%; overflow-y: hidden; }
    mat-label { margin: 0 8px; }
}

.half-donut {
    .slice {
        path.focus { transition: ease .3s; transform: scale(1.05); }
    }
}

.timeline {
    .y-axis {
        .tick {
            line { stroke: #d3d3d3; stroke-dasharray: 8, 4; stroke-width: 0.2; }
        }
    }
    .bar { fill: $mainColor; rx: 2px; }
    .line { fill: none; stroke: #f0f0f0; stroke-width: 2px;}
    .circle { fill: #f0f0f0; }
}

.pie-chart {
    .slices {
        path.focus { transition: ease .3s; transform: scale(1.05); }
    }
    .labels {
        text { font-size: 10px; fill: #f0f0f0; }
    }
    .lines {
        polyline { fill: none; stroke: #f0f0f0; stroke-width: 1px; }
    }
    .legend {
        text { fill: #f0f0f0; text-anchor: middle; }
        text.value { font-size: 24px; font-weight: bold; }
    }
}

.ranking-container {
    .ranking-item {
        padding: 8px 4px 4px 4px;
        font-size: 12px;
        .image { background-color: #d3d3d3; height: 32px; width: 32px; }
        .name { margin: auto; color: #d3d3d3; }
        .username { margin: auto; font-weight: bold; }
        .city { margin: auto; }
        .ranking { font-weight: bold; width: 100%; text-align: right; }
        .difference {
            margin: auto;
            p { margin: 2px 4px 0 8px; }
            .mat-icon { width: 16px; height: 16px; }
            &.down { color: #f44336; }
            &.stable { color: #DAA520; }
            &.up { color: #5FDC96; }
            &.new { color: #00BFFF; }
            &.not { color: #C0C0C0; }
        }
    }
}

.most-played-container {
    .most-played-item {
        padding: 8px 4px 4px 4px;
        font-size: 12px;
        .image { border-radius: 4px; }
        .game-name { margin: auto 4px auto 8px; }
        .ranking { font-weight: bold; width: 100%; text-align: right; }
        .count {
            p { border-bottom: 2px solid; border-radius: 2px; width: 32px; padding: 6px 0 0 0; margin: 4px; text-align: center; }
            .active { border-color: #DAA520; }
            .cancel { border-color: #f44336; }
            .close { border-color: #5FDC96; }
            .open { border-color: #00BFFF; }
            .total { border-color: #C0C0C0; font-weight: bold; }
        }
    }
}

.notification-container {
    .notification-item {
        cursor: pointer;
        outline: none;
        padding: 8px 8px 8px 4px;
        font-size: 14px;
        border-radius: 4px;
        .icon {
            height: 24px;
            padding: 8px;
            border-radius: 8px;
            .mat-icon { color: #424242; }
            &.active { background-color: #DAA520; }
            &.cancel { background-color: #f44336; }
            &.close { background-color: #5FDC96; }
            &.open { background-color: #00BFFF; }
        }
        .message { margin: auto 4px auto 8px; color: #f0f0f0; }
    }
}

.directive-tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 8px 8px 4px 8px;
    font-size: 11px;
    background: #fff;
    border: 1px solid #555555;
    border-radius: 4px;
    pointer-events: none;
    color: #555555;
    -webkit-box-shadow: 0 2px 8px 0 #303030;
    -moz-box-shadow: 0 2px 8px 0 #303030;
    box-shadow: 0 2px 8px 0 #303030;

    img {
        max-width: 180px;
        height: auto;
        border-radius: 4px;
    }
}
