/* You can add global styles to this file, and also import other style files */
@import '~ng-pick-datetime/assets/style/picker.min.css';
@font-face { font-family: GoogleSans; src: url(./GoogleSans-Regular.ttf);}

$mainColor: #7B1FA2;

html, body { height: calc(100% - 16px); background: #303030; color: #ffffff; }
body { height: 100%; margin: 0; font-family: GoogleSans, serif !important; }

app-application { height: 100%; }

.blur-filter { filter: blur(4px); }
.container { margin: 16px 0; height: calc(100% - 16px); }
.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix { top: 0 !important; }
.mat-progress-bar-buffer { background-color: #f9f9f9; }
.mat-progress-bar-fill::after { background-color: $mainColor; }
.mat-progress-spinner.small { height: 32px !important; width: 32px !important;
  svg { height: 32px !important; width: 32px !important; }
}
.max-height { height: 100%; }
.overflow { overflow: auto; }

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #f9f9f9;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
