/* You can add global styles to this file, and also import other style files */
@font-face { font-family: GoogleSans; src: url(./GoogleSans-Regular.ttf);}

html, body { height: 100%; background: #303030; color: #ffffff; }
body { margin: 0; font-family: GoogleSans, serif !important; }
.container { margin: 16px; }


.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix { top: 0 !important; }
